@inherits LayoutComponentBase

@* <FluentToastProvider/> *@
@* <FluentDialogProvider/> *@
@* <FluentTooltipProvider/> *@
@* <FluentMessageBarProvider/> *@

<FluentMainLayout Style="background: var(--neutral-layer-2); height: 100vh;">
    <Header>PDF data extraction demo</Header>
    <Body>
    <FluentBodyContent Style="max-width: 1200px; margin: 0 auto;">
        @Body
    </FluentBodyContent>
    </Body>
</FluentMainLayout>
